/* RESET & GLOBAL */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

/* h2 {
  font-family: "Raleway", sans-serif;
} */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input::placeholder,
button,
a,
h2 {
  font-family: "Raleway", sans-serif;
}

form button{
  transition: .3s;
}
form button:hover{
  background-color: hsl(224, 99%, 68%);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 950px) {
  .container {
    max-width: 700px;
  }
}
/* END RESET & GLOBAL */
